.root {
	display: flex;
	flex-direction: column;

	height: 100%;
	width: 250px;
	padding: 10px;

    background-color: #fff;
	border-right: 1px solid #d0d0d0;
}

.sidebar-header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	background-color: #f2f2f2;
	border-bottom: 1px solid #d0d0d0;
}

.sidebar-header h2 {
	margin: 0;
	font-size: 1.5rem;
}

.sidebar-content {
	flex-grow: 1;
	padding: 10px;
}

.sidebar-section {
	margin-bottom: 20px;
}

.sidebar-section h3 {
	margin: 0 0 10px;
	font-size: 1.2rem;
}

.sidebar-items {
	display: flex;
	flex-direction: column;
}

.sidebar-item {
	padding: 5px 10px;
	background-color: #f2f2f2;
	border: 1px solid #d0d0d0;
	cursor: move;
}

.sidebar-item p {
	margin: 0;
}

.sidebar-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	background-color: #f2f2f2;
	border-top: 1px solid #d0d0d0;
	padding: 0 10px;
}

.sidebar-footer button {
	font-size: 1rem;
	padding: 5px 10px;
	border: none;
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
}

.sidebar-footer button:hover {
	background-color: #0069d9;
}
li {
	list-style-type: none;
	border: 2px solid black;
	text-align: center;
}
