.root {
	display: grid;
	grid-template-columns: 5fr 1fr;
	grid-template-rows: 1fr 9fr;

	height: 100vh;

	div:first-child {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 3;
	}
}
