.root{
    position: absolute;
    right: 30px;
    top: 5px;

    // display: none;

    width: 120px;
    height: 145px;
    border-radius: 12px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.301);
    
}