.root {
	width: 100vw;
	height: 100vh;

	.buttons {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		gap: 10px;

		position: absolute;
		top: 50%;
		right: 0;

		transform: translateY(-50%);

		.link {
			padding: 20px;
			width: 150px;

			background-color: #49b47e;
			border: none;

			font-size: 18px;
			color: white;

			transition: 0.3s;

			&:hover {
				width: 200px;
			}
		}
	}
}
