  .root {
    width: 120px;
    border-radius: 12px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.301);
    overflow: hidden;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;

    .test{
      display: none;
    }
  }

