.root {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 5px;

	width: 120px;
	position: absolute;

	border-radius: 12px;
	box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.301);
	background-color: white;

	transform: translateY(75%);

	.test {
		display: none;
	}
}
