* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

:root {
	--gateColor: #f4c430;
	--gateColor2: #43919b;
	--gateColor3: #fafa33;
	--gateColor4: #00ffc6;
}

.container {
	margin: 0 auto;
}
