.item {
	width: 120px;
	height: 25px;
	padding: 5px;

	border: none;
	background-color: transparent;

	font-size: 16px;
	cursor: pointer;

	&:hover {
		color: white;
		background-color: #49b47e;
	}
}
