.root {
	padding: 20px;
	// margin: 70px;
	border-radius: 50%;

	background: green;
	color: white;
	width: 150px;
	height: 150px;
	font-size: 40px;
	box-shadow: yellow 0px 0px 20px 5px;

	cursor: pointer;

	&.noAccess {
		cursor: no-drop;
		background: red;
		box-shadow: black 0px 0px 20px 5px;
	}
}
